<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- Output to console -->
	<appender name="ToStandardOut" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%-50(%d{HH:mm:ss} [%level{}] %class{0}.%method{0}\(\)) --- %message{}%n{}
			</Pattern>
		</layout>
	</appender>
	
	<appender name="ToTextArea" class="Demo_Logger.MyStaticOutputStreamAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} -- %msg%n</pattern>
		</encoder>
	</appender>
	
	<root>
		<appender-ref ref="ToStandardOut" />
		<appender-ref ref="ToTextArea" />
	</root>

</configuration>